<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            section {
                display : flex;
                
            }

        </style>
    </head>
    <body>
        <h1>Search Results</h1>
        <h3>you are looking for {{searchingBy}}</h3>
        <section>
            <div>
                <h4>title</h4>
                {% for title in titles %}
                    <li>{{title}}</li> 
                {% endfor %}
            </div>
            
            <div>
                <h4>places</h4>
                {% for local in places %}
                    <li>{{local}}</li> 
                {% endfor %}
            </div>
            
            <div>
                <h4>arrives</h4>
                {% for arrive in arrives %}
                    <li>{{arrive}}</li> 
                {% endfor %}
            </div>
            
        </section>
    </body>
</html>